.card_container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top:4%; */
  
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    width: 300px;
    border-radius: 10px;
border: 2px solid #c9c9c9;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
    margin-top : 3%;
}


.card p{
font-family: poppins;
font-size: 1.8rem;
color: black;
margin-bottom: 10px;
text-align: center;
font-weight: 700;
}

.image{
width:270px;
height: 190px;
object-fit: cover;
border: 1px solid  ;
border-radius: 20px;
margin:10px
}

.card .rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
margin:10px;
}

.card button{
    color: #fff;
    font-size: 1rem;
    width: 100%;
    text-transform: lowercase;
    background-color: #e61e4d;
}
.card button:hover{
    background-color: #f1466e;;
}


@media only screen and (max-width: 900px ) {
    /* Adjust the font size of the heading and description */
    .card_container{
display: grid;
grid-template-columns: repeat(2,1fr);   
grid-template-rows: repeat(2,1fr);    
    }

    .card{
        /* margin: 3%; */
    }
}
    @media only screen and (max-width: 500px) {
    /* Adjust the font size of the heading and description further */
   .card_container{
        display:flex ;
        flex: 1;
        flex-direction: column;
    }
    }