.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 414px;
    border: #e61e4d solid 1px;
    min-width: 300px;

}

.image{
width: 300px;
height: 250px;
object-fit: cover;
}

.rating{
    display: flex;
    flex-direction: row;
}

.card button{
    color: #fff;
    /* width: 10%; */
    background-color: #e61e4d;;
}