
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #c9c9c9;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
}

.card p{
    display: flex;
    flex: 1;
    font-family: poppins;
    font-size: 1rem;
    color: black;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 10px;
}

.image{
width:270px;
height: 190px;
object-fit: cover;
border: 1px solid  ;
border-radius: 20px;
margin:10px
}



.card .rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
margin:10px;
}

.card button{
    color: #fff;
    font-size: 1rem;
    width: 100%;
    text-transform: lowercase;
    background-color: #e61e4d;
}
.card button:hover{
    background-color: #f1466e;;
}


@media only screen and (max-width: 900px ) {
    /* Adjust the font size of the heading and description */
    .card{
        display: grid;
  place-items: center;   
}

    .card{
        /* margin: 3%; */
    }
}
    @media only screen and (max-width: 500px) {
    /* Adjust the font size of the heading and description further */
   .card{
    display: grid;
    place-items: center;
    }
}